.rbody{
    padding-top: 40px;
}
.rbody p{
	text-align: center;
	font-size: 16px;
}
.leftp{
	width: 80px;
    height: 100px;
    position: relative;
    left: 50%;
    margin-left: -150px;
}
.leftp ul li,.rightp ul li{
	font-size: 14px;
	height: 32px;
}
.rightp{
	width: 200px;
    height: 100px;
    position: relative;
    left: 50%;
    margin-left: 48px;
    top: -100px;
}
.orange{
	font-size:16px;
	color:#f09500;
	text-align:left;
}
.bg{
	background: url(../images/qcore.png) no-repeat left;
	background-size: 18px;
}
.juli{
	margin-left: 18px;
}
