@charset "gb2312";
.mobi1,.mobi2,.pad1,.pad2,.pad3,.pad4,.pad5,.pad6,.pc1,.pc10,.pc11,.pc12,.pc2,.pc3,.pc4,.pc5,.pc6,.pc7,.pc8,.pc9 {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 1px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    padding: 7px 13px;
    min-width: 120px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-image: none;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    cursor: pointer;
    -webkit-transition: background .15s,color .15s,border .15s;
    -moz-transition: background .15s,color .15s,border .15s;
    -o-transition: background .15s,color .15s,border .15s;
    transition: background .15s,color .15s,border .15s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -ms-transition: background .15s,color .15s,border .15s;
}

.btn:hover {
    outline-style: none;
    background-color: #d0d5d9;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
}

.btn.active,.btn:active {
    outline: 0;
    background-image: none;
}

.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
    cursor: not-allowed;
    pointer-events: none;
}

.btn.error,.btn.error.active,.btn.error.disabled,.btn.error:active,.btn.error:hover,.btn.error[disabled] {
    border-color: #ec7063;
    background-color: #ec7063;
    color: #fff;
}

.btn:focus {
    outline-style: none;
}

.btn.loading {
    position: relative;
    border-color: #fff;
    cursor: not-allowed;
    pointer-events: none;
}

.btn.loading:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100%;
    height: 100%;
    background: #fff url(../images/loading.svg) center center no-repeat;
    content: "";
}

.btn.loading.active,.btn.loading:active,.btn.loading:hover {
    border-color: #fff;
}



.btnBlack {
    border-color: #F5A623;
    background-color: #F5A623;
    color: #fff;
}

.btnBlack.hover,.btnBlack:hover {
    border-color: #F5A623;
    background-color: #F5A623;
    color: #fff;
}

.btnBlack.active,.btnBlack:active {
    border-color: #F5A623;
    background-color: #F5A623;
    color: #fff;
}
#register{
	border: 1px solid #C9C9C9;
    background: none;
    color: #666666;
}
.btnBlack.active,.btnBlack:active {
    background-image: none;
}

.btnBlack.disabled,.btnBlack.disabled.active,.btnBlack.disabled:active,.btnBlack.disabled:hover,.btnBlack[disabled],.btnBlack[disabled].active,.btnBlack[disabled]:active,.btnBlack[disabled]:hover,fieldset[disabled] .btnBlack,fieldset[disabled] .btnBlack.active,fieldset[disabled] .btnBlack:active,fieldset[disabled] .btnBlack:hover {
    border-color: #306e83;
    background-color: #306e83;
}

.btnBlack.disabled,.btnBlack.disabled.active,.btnBlack.disabled:active,.btnBlack.disabled:hover,.btnBlack[disabled],.btnBlack[disabled].active,.btnBlack[disabled]:active,.btnBlack[disabled]:hover,fieldset[disabled] .btnBlack,fieldset[disabled] .btnBlack.active,fieldset[disabled] .btnBlack:active,fieldset[disabled] .btnBlack:hover {
    border-color: #d1d1d1;
    background-color: #d1d1d1;
}



.btnGoldE.disabled,.btnGoldE.disabled.active,.btnGoldE.disabled:active,.btnGoldE.disabled:hover,.btnGoldE[disabled],.btnGoldE[disabled].active,.btnGoldE[disabled]:active,.btnGoldE[disabled]:hover,fieldset[disabled] .btnGoldE,fieldset[disabled] .btnGoldE.active,fieldset[disabled] .btnGoldE:active,fieldset[disabled] .btnGoldE:hover {
    border-color: #e9e0d8;
    background-color: #fff;
}

.btnGoldF {
    border-color: #bba186;
    background-color: #bba186;
    color: #fff;
}

.btnGoldF.hover,.btnGoldF:hover {
    border-color: #c8b39d;
    background-color: #c8b39d;
    color: #fff;
}

.btnGoldF.active,.btnGoldF:active {
    border-color: #ae8f6f;
    background-color: #ae8f6f;
    color: #fff;
}

.btnGoldF.active,.btnGoldF:active {
    background-image: none;
}

.btnGoldF.disabled,.btnGoldF.disabled.active,.btnGoldF.disabled:active,.btnGoldF.disabled:hover,.btnGoldF[disabled],.btnGoldF[disabled].active,.btnGoldF[disabled]:active,.btnGoldF[disabled]:hover,fieldset[disabled] .btnGoldF,fieldset[disabled] .btnGoldF.active,fieldset[disabled] .btnGoldF:active,fieldset[disabled] .btnGoldF:hover {
    border-color: #e9e0d8;
    background-color: #e9e0d8;
}

.btnBlackE {
    border-color: #000;
    background-color: #fff;
    color: #000;
}

.btnBlackE.hover,.btnBlackE:hover {
    border-color: #000;
    background-color: #000;
    color: #fff;
}

.btnBlackE.active,.btnBlackE:active {
    border-color: #0d0d0d;
    background-color: #0d0d0d;
    color: #fff;
}

.btnBlackE.active,.btnBlackE:active {
    background-image: none;
}

.btnBlackE.disabled,.btnBlackE.disabled.active,.btnBlackE.disabled:active,.btnBlackE.disabled:hover,.btnBlackE[disabled],.btnBlackE[disabled].active,.btnBlackE[disabled]:active,.btnBlackE[disabled]:hover,fieldset[disabled] .btnBlackE,fieldset[disabled] .btnBlackE.active,fieldset[disabled] .btnBlackE:active,fieldset[disabled] .btnBlackE:hover {
    border-color: #404040;
    background-color: #fff;
}

.btnBlackF {
    border-color: #000;
    background-color: #000;
    color: #fff;
}

.btnBlackF.hover,.btnBlackF:hover {
    border-color: #121212;
    background-color: #121212;
    color: #fff;
}

.btnBlackF.active,.btnBlackF:active {
    border-color: #000;
    background-color: #000;
    color: #fff;
}

.btnBlackF.active,.btnBlackF:active {
    background-image: none;
}

.btnBlackF.disabled,.btnBlackF.disabled.active,.btnBlackF.disabled:active,.btnBlackF.disabled:hover,.btnBlackF[disabled],.btnBlackF[disabled].active,.btnBlackF[disabled]:active,.btnBlackF[disabled]:hover,fieldset[disabled] .btnBlackF,fieldset[disabled] .btnBlackF.active,fieldset[disabled] .btnBlackF:active,fieldset[disabled] .btnBlackF:hover {
    border-color: #404040;
    background-color: #404040;
}

.btnL {
    padding: 3px 27px;
    min-width: 180px;
    border-radius: 4px;
    font-size: 21px;
    line-height: 2;
}

.btnS {
    padding: 1px 13px;
    min-width: 90px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.75;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block+.btn-block {
    margin-top: 8px;
}

input[type=submit].btn-block,input[type=reset].btn-block,input[type=button].btn-block {
    width: 100%;
}

.btn2line {
    padding: 10px 16px;
    min-width: 180px;
    line-height: 1.5;
}

.btn2line em {
    display: block;
    font-size: 18px;
}

.btn2line span {
    display: block;
    font-size: 12px;
}

.btnHalfRound {
    border-radius: 100px;
}

.btn-group.text-center .btn+.btn {
    margin-left: 32px;
}


* {
    -webkit-font-smoothing: antialiased;
}

*,:after,:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,html {
    min-height: 100%;
}

body {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    background-origin: border-box;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

blockquote,body,button,dd,dl,dt,fieldset,figcaption,figure,h1,h2,h3,h4,h5,h6,hr,input,li,ol,p,pre,td,textarea,th,ul {
    margin: 0;
    padding: 0;
}

body,button,input,select,textarea {
    font: 14px/2 "-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Source Han Sans","Noto Sans CJK Sc","Microsoft YaHei",sans-serif;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 20px;
}

h4,h5,h6 {
    font-size: 100%;
}

em {
    font-style: normal;
}

code,pre {
    font-family: "Courier New",Courier,monospace;
}

small {
    font-size: 12px;
}

ol,ul {
    list-style: none;
}

button,figcaption,figure,input,select,textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    margin: 16px 0;
}

img {
    max-width: 100%!important;
    border: 0;
    vertical-align: middle;
    page-break-inside: avoid;
}

a {
    background: 0 0;
    text-decoration: none;
}

.close {
    float: right;
    width: 28px;
    color: #a6aeb3;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    cursor: pointer;
}

.close .icon {
    vertical-align: baseline;
}

.close:focus,.close:hover {
    color: #3d5159;
}

label {
    display: inline-block;
    max-width: 100%;
}

.form-control {
    display: block;
    padding: 11px 16px;
    width: 100%;
    height: 44px;
    border: 2px solid #f7f9fa;
    border-radius: 3px;
    background-color: #fff;
    background-image: none;
    color: #404040;
    font-size: 14px;
    line-height: 1.5;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -ms-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-appearance: none;
}

.form-control:focus {
    outline: 0;
    border-color: #bfbfbf;
}

.form-control::-moz-placeholder {
    color: #bfbfbf;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #bfbfbf;
}

.form-control::-webkit-input-placeholder {
    color: #bfbfbf;
    line-height: 1.5;
}

.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {
    border-color: #f7f9fa;
    background-color: #f7f9fa;
    color: #a6aeb3;
    opacity: 1;
    cursor: not-allowed;
}

.form-control[disabled]:focus,.form-control[readonly]:focus,fieldset[disabled] .form-control:focus {
    border-color: #f7f9fa;
}

.form-control[readonly] {
    cursor: text;
}

.form-control.error {
    border-color: #ec7063;
}

.form-control.key {
    letter-spacing: -1px;
    font-size: 14px;
    cursor: text;
}

.form-control.key::-moz-placeholder {
    font-size: 14px;
    line-height: 22px;
}

.form-control.key:-ms-input-placeholder {
    font-size: 14px;
    line-height: 1;
}

.form-control.key::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 1.5;
}

.form-control.key[disabled],.form-control.key[readonly] {
    color: #76858c;
}

textarea.form-control {
    max-width: 100%;
    min-height: 7em;
}

.form-group {
    margin-bottom: 8px;
}

.input-sm {
    padding: 8px 16px;
    height: 32px;
    border-radius: 2px;
    font-size: 11px;
    line-height: 1.75;
}

.input-lg {
    padding: 8px 16px;
    height: 50px;
    border-radius: 4px;
    font-size: 21px;
    line-height: 2.4;
}

@media (min-width:479px) {
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    .form-inline .input-group {
        display: inline-table;
        vertical-align: middle;
    }

    .form-inline .input-group .form-control {
        width: auto;
    }

    .form-inline .input-group>.form-control {
        width: 100%;
    }

    .form-inline .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
}

.form-inline .form-group {
    display: inline-block\9;
    margin-bottom: 0\9;
    vertical-align: middle\9;
}

.form-inline .form-control {
    display: inline-block\9;
    width: auto\9;
    vertical-align: middle\9;
}

.form-group.http {
    position: relative;
}

.form-group.http .control-label {
    display: block;
}

.form-group.http .selectWrap {
    position: absolute;
}

.form-group.http .selectWrap .selectBtn {
    margin: 8px;
    padding: 0 16px 0 8px;
}

.form-group.http .selectWrap .selectBtn:before {
    top: 8px;
    right: 2px;
}

.form-group.http .form-control {
    padding-left: 94px;
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}

.form-horizontal .form-group:after,.form-horizontal .form-group:before {
    display: table;
    content: " ";
}

.form-horizontal .form-group:after {
    clear: both;
}




.clearfix:after,.clearfix:before {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.clear-both {
    clear: both;
}

.pull-right {
    text-align: center;
}
.i_login {
    position: relative;
    padding: 150px 0 96px;
    min-height: 100%;
}

.il_nav {
    position: absolute;
    top: 0;
    left: 0;
}

.il_nav a:hover {
    background-color: #f7f9fa;
}

.il_nav .logo {
    display: block;
    padding: 25px 24px;
    width: 160px;
    height: 64px;
    background-size: 64px !important;
    background: transparent url(../images/apple-icon-96x96-precomposed.png) center center no-repeat;
    background-image: url(../images/apple-icon-96x96-precomposed.png) \9;
    text-indent: -9999px;
    line-height: 1em;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -ms-transition: all .2s;
}

.il_wrap {

}

.il_wrap .il_box {
    margin: 140px auto;
    padding: 0;
    width: 320px;
}

.il_wrap .il_box.login_box {
    padding: 0 10px;
}

.il_wrap .il_body h4 {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 400;
    font-size: 21px;
}

.il_wrap .il_body .form-group {
    margin-bottom: 0px;
}

.il_wrap .il_body .checkboxFormGroup {
    margin-bottom: 16px;
}

.il_wrap .il_body .tologin {
    margin-top: 48px;
    padding: 32px 0;
    border-top: 1px solid #edf0f2;
    font-size: 14px;
}

.il_wrap .il_btn .btn {
    margin-top: 16px;
    margin-bottom: 32px;
}

.il_wrap .il_btn a.retrieve,.retrieve {
    float: right;
}

.il_wrap .il_btn a.reg {
    float: right;
}

.il_footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 24px 0;
    padding-left: calc(100vw - 100%);
    width: 100%;
    font-size: 14px;
}

.il_footer li {
    float: left;
}

.il_footer li+li {
    margin-left: 32px;
}

.il_footer .icp {
    color: #4a4a4a;
}

.il_footer .icp a {
    margin-left: 16px;
}

@media screen and (max-width:767px) {
    .i_login {
        position: relative;
        padding: 90px 0 96px;
        min-height: 100%;
    }
    .il_wrap .il_box {
        padding: 0 15px;
    }

    .il_footer {
        text-align: center;
        padding: 2% 6%;
    }

    .il_footer ul {
        float: none;
    }

    .il_footer li {
        float: none;
        display: inline-block;
    }

    .il_footer li+li {
        margin-left: 16px;
    }

    .il_footer .icp {
        float: none;
    }
}


